<h2 class="text-center m-5">Create a meal</h2>
<div class="m-5 px-5 position-absolute top-50 start-50 translate-middle" style="width: 70%;">
    
    <div class="position-relative">
        <div class="carousel-caption position-absolute top-50 translate-middle"
            id="searchFoodbar">
            <div class="position-absolute top-50 start-50 translate-middle my-4 ps-5 ms-5">
                <form class="d-flex flex-row ms-5 ps-5" action="/searchFood" method="GET">
                    <label>
                        <input class="lh-lg rounded-4 text-center border border-success opacity-75 border-2 px-3 ms-5"
                            type="string" name="foodName" placeholder="Food" />
                    </label>
                    <button class="btn btn-success col-2 lh-1 mx-3 opacity-75 text-white fs-6" style="width: 25%;"
                        type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    

    <form action="/meals/create" method="post">          
        <div class="ms-5 ps-5">
            {{!-- <h4 class="text-center ms-5 mb-3">{{username}}</h4> --}}
            <input type="text" value={{username}} name="userName" hidden />
        </div>
        <div class="ms-4 pb-5 position-absolute start-50">
            <label> Date:
                <input name="date" type="date" required/>            
            </label>
        </div>
        <div class="row row-cols-2 row-cols-md-1 ms-5 ps-5 mt-3">
            <div class="m-4" style="width: 30%;">
                <br>
                <p>Food of Breakfast:</p>
                <select name="breakfastFood" class="form-select" multiple aria-label="multiple select example">
                    {{#each foodArr}} 
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="m-4" style="width: 30%;">
                <br>
                <p>Food of Lunch:</p>
                <select name="lunchFood" class="form-select" multiple aria-label="multiple select example">
                    {{#each foodArr}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="m-4" style="width: 30%;">
                <p>Food of Dinner:</p>
                <select name="dinnerFood" class="form-select" multiple aria-label="multiple select example">
                    {{#each foodArr}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="m-4" style="width: 30%;">
                <p>OtherFood:</p>
                <select name="otherFood" class="form-select" multiple aria-label="multiple select example">
                    {{#each foodArr}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="mt-5 text-center me-5">
            <button class="btn btn-success opacity-75 text-white" type="submit" style="width: 8em;"> Create </button>
        </div>
    </form>
</div>
