<section class="meal-container">
    <div class="d-flex flex-row mb-3 justify-content-center">
        <h2 class="display-6  text-center w-50 mt-5" >
            <strong>Date of meal: {{mealDetails.date}}</strong> 
        </h2>
        <button class="btn btn-success col-2 lh-1 mx-3 opacity-75 text-white fs-5 mt-5" style="width: 8em;"><a class="nav-link" href="/meals/">View My Meals</a></button>
    </div>

    
    <div class="container text-center" id="quantity-container">
        <form action="/meals/{{mealDetails._id}}/editfood" method="post">
            
            <div class="row">
                <div class="col-10 edit-food-date">
                    <label class="fs-4"> 
                        <strong>Change Date of meal :  </strong> 
                        <input type="date" name="date" value="{{mealDetails.date}}" required/>
                    </label>
                </div>
                <div class="col-5 border border-danger-subtle m-3 edit-food-container">
                    <label> 
                        <h3 class="quantity-subtitle">
                            Breakfast:
                        </h3>
                    <select name="bfFood" class="form-select fs-4 text-center form-height" multiple aria-label="multiple select example">
                        {{#each foodArr}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </label>
                </div>
                <div class="col-5 border border-danger-subtle m-3 edit-food-container">
                    <label> 
                        <h3 class="quantity-subtitle">
                            Lunch:
                        </h3>
                    <select name="lunchFood" class="form-select fs-4 text-center form-height" multiple aria-label="multiple select example">
                        {{#each foodArr}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </label>
                </div>
                <div class="col-5 border border-danger-subtle m-3 edit-food-container">
                    <label> 
                        <h3 class="quantity-subtitle">
                            Dinner:
                        </h3>
                    <select name="dinnerFood" class="form-select fs-4 text-center form-height" multiple aria-label="multiple select example">
                        {{#each foodArr}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </label>
                </div>
                <div class="col-5 border border-danger-subtle m-3 edit-food-container">
                    <label> 
                        <h3 class="quantity-subtitle">
                            Other Food:
                        </h3>
                    <select name="otherFood" class="form-select fs-4 text-center form-height" multiple aria-label="multiple select example">
                        {{#each foodArr}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </label>
                </div>
            </div>
             <button class="btn btn-primary  opacity-75 text-white fs-4" id="save-button">Save changes</button>
        </form>
    </div>


