<h1>History Review</h1>
 
 <a class="my-2 nav-link fs-5 text-secondary" href="/user-profile">My profile</a>

{{#each mealsArrWithFormattedDate}}
    <section class="meals-detail">
        
        <h2>Date of meal: {{date}}</h2>
        <p>
            Breakfast: <br>
            Calories of Breakfast: {{bfCalories}} kcals
            <br>
           
            {{#each this.breakfastFood}}
                 <br>
                 {{name}} |
                 Energy: {{energy}} kcals |
                 Pieces: {{quantity}} |
                 <br>
                 Calories: {{totalCalories}} kcals
                 <br> 
            {{/each}}
            <br>           
            Lunch: <br>
            Calories of Lunch: {{lunchCalories}} kcals
            <br>
            {{#each this.lunchFood}}
                <br>
                 {{name}} |
                 Energy: {{energy}} kcals |
                 Pieces: {{quantity}} |
                 <br>
                 Calories: {{totalCalories}} kcals
                 <br> 
            {{/each}}
            <br>
            Dinner: <br>
            Calories of Dinner: {{dinnerCalories}} kcals
            <br>
            {{#each this.dinnerFood}}
                 <br>
                 {{name}} |
                 Energy: {{energy}} kcals |
                 Pieces: {{quantity}} |
                 <br>
                 Calories: {{totalCalories}} kcals
                 <br> 
            {{/each}}
            <br>
            This day I also ate: <br>
            Calories of Other food: {{otherCalories}} kcals
            <br>
            {{#each this.otherFood}}
                <br>
                 {{name}} |
                 Energy: {{energy}} kcals |
                 Pieces: {{quantity}} |
                 <br>
                 Calories: {{totalCalories}} kcals
                 <br> 
            {{/each}}
            <br>
            Calories: {{calories}} kcals<br>
            
             <a href="/meals/{{_id}}/editfood">Edit Food</a>
             <a href="/meals/{{_id}}/editquantity">Edit Quantity</a>

            <form action="/meals/{{_id}}/delete" method="POST">
                <button>Delete</button>
            </form>
        </p>
    </section>
{{/each}}