<h2>Date of meal: {{mealDetails.date}}</h2>

<button><a href="/meals/">View My Meals</a></button>

<form action="/meals/{{mealDetails._id}}/editfood" method="post">
    <label> Date of meal
        <input type="date" name="date" value="{{mealDetails.date}}" required/>
    </label>

    <label> Breakfast:
        <select name="bfFood" multiple>
            {{#each foodArr}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </label>

    <label> Lunch:
        <select name="lunchFood" multiple>
            {{#each foodArr}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </label>

    <label> Dinner:
        <select name="dinnerFood" multiple>
            {{#each foodArr}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </label>

    <label> Other Food:
        <select name="otherFood" multiple>
            {{#each foodArr}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </label>

    <button>Save changes</button>
</form>