<h2>Date of meal: {{mealDetails.date}}</h2>
    <button><a href="/meals/">View My Meals</a></button>

    <section class="meals-detail">
        <p>
            Breakfast: <br>
            {{#each mealDetails.breakfastFood}}
                 <br>
                 {{name}} |
                 <form action="/meals/{{../mealId}}/editquantity" method="post">
                    Pieces: <input type="number" step="0.1" value="{{quantity}}" min="0" name="quantity" required> |
                    <input type="number" value="{{energy}}" name="energy" hidden>
                    <input type="string" value="{{_id}}" name="id" hidden>
                    <input type="string" value="{{../mealId}}" name="mealId" hidden>
                    <button type="submit">Confirm</button>
                    Calories: {{totalCalories}} kcals
                 </form>
                 <br> 
            {{/each}}
            <br>           
            Lunch: <br>
            {{#each mealDetails.lunchFood}}
                <br>
                 {{name}} |
                 Energy: {{energy}} kcals |
                 <form action="/meals/{{../mealId}}/editquantity" method="post">
                    Pieces: <input type="number" step="0.1" value="{{quantity}}" min="0" name="quantity" required> |
                    <input type="number" value="{{energy}}" name="energy" hidden>
                    <input type="string" value="{{_id}}" name="id" hidden>
                    <input type="string" value="{{../mealId}}" name="mealId" hidden>
                    <button type="submit">Confirm</button>
                    Calories: {{totalCalories}} kcals
                 </form>
                 <br> 
            {{/each}}
            <br>
            Dinner: <br>
            {{#each mealDetails.dinnerFood}}
                 <br>
                 {{name}} |
                 Energy: {{energy}} kcals |
                 <form action="/meals/{{../mealId}}/editquantity" method="post">
                    Pieces: <input type="number" step="0.1" value="{{quantity}}" min="0" name="quantity" required> |
                    <input type="number" value="{{energy}}" name="energy" hidden>
                    <input type="string" value="{{_id}}" name="id" hidden>
                    <input type="string" value="{{../mealId}}" name="mealId" hidden>
                    <button type="submit">Confirm</button>
                    Calories: {{totalCalories}} kcals
                 </form>
                 <br> 
            {{/each}}
            <br>
            This day I also ate: <br>
            {{#each mealDetails.otherFood}}
                <br>
                 {{name}} |
                 Energy: {{energy}} kcals |
                 <form action="/meals/{{../mealId}}/editquantity" method="post">
                    Pieces: <input type="number" step="0.1" value="{{quantity}}" min="0" name="quantity" required> |
                    <input type="number" value="{{energy}}" name="energy" hidden>
                    <input type="string" value="{{_id}}" name="id" hidden>
                    <input type="string" value="{{../mealId}}" name="mealId" hidden>
                    <button type="submit">Confirm</button>
                    Calories: {{totalCalories}} kcals
                 </form>
                 <br> 

                
                </form>
            {{/each}}
            <br>
        </p>
        
        <a class="my-2 nav-link fs-5 text-secondary" href="/user-profile">My profile</a>
    </section>
