<h2>Create a meal</h2>
<div class="position-relative">
 <div class="col-md-5 p-lg-5 mx-auto my-5 carousel-caption text-center position-absolute top-50 start-50 translate-middle" id="searchFoodbar">
           
            <div class="position-absolute top-50 start-50 translate-middle my-3 pe-3 ">
            <form class="d-flex flex-row" action="/searchFood" method="GET">                
                <label>                    
                    <input class="lh-lg rounded-4 text-center border border-success opacity-75 border-2 px-3 ms-5" type="string" name="foodName" placeholder="Food" />
                </label>               
                <button class="btn btn-success col-2 lh-1 mx-3 opacity-75 text-white fs-6" style="width: 25%;" type="submit">Search</button>               
            </form>
            </div>
        </div>
</div>
<h3> My Food Database:</h3>
   

<br>
<form action="/meals/create" method="post">
    <label> User Name:
       <h2>{{username}}</h2>
       <input type="text" value= "{{username}}" name="userName" hidden>   
    </label>

    <label> Date:
        <input type="date" name="date" /> 
        
    </label>


    <label> Food of Breakfast:
        <select name="breakfastFood" multiple>
            {{#each foodArr}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </label>

    <label> Food of Lunch:
        <select name="lunchFood" multiple>
            {{#each foodArr}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </label>

    <label> Food of Dinner:
        <select name="dinnerFood" multiple>
            {{#each foodArr}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </label>

    <label> I also eat these today:
        <select name="otherFood" multiple>
            {{#each foodArr}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </label>

    <button type="submit"> Create </button>
</form>