<h1>Here is your profile details</h1>


Username: {{username}}
Email   : {{email}}
Age     : {{age}}   
Gender  : {{gender}}   
Height  : {{height}} CM
Weight  : {{weight}} KG
   

<button><a href="/user-profile/edit">Edit</a></button>