<div class="m-5 text-center">
    <h4 class="m-4">Here is your profile details</h4>
    
    <form action=" /user-profile/edit" method="post">
        <div class="d-flex flex-column text-center">
            <label> Username:
                <input type="text" name="username" value="{{username}}" />
            </label>
            <label> Email:
                <input type="email" name="email" value="{{email}}" />
            </label>
            <label> Age:
                <input type="number" name="age" value="{{age}}" />
            </label>
            <div>
                <label> Gender:</label>
                <select name="gender" value="{{gender}}">
                    <option>--Please tell me your Gender--</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <label> Height
                <input type="number" name="height" value="{{height}}" />CM
            </label>
            <label> Weight
                <input type="number" name="weight" value="{{weight}}" />KG
            </label>
            <div class="text-center m-3">
                <button class="btn btn-secondary col-2">submit</button>
            </div>
            </div>
    </form>
   
</div>