<div class="m-5">
    <h3>BMI CALCULATOR</h3>

    <div class="">
        <label class="userAge"> Age:
            <input type="number" name="age" value="{{age}}" required />
        </label>
        <label> Gender:
            <input type="text" name="gender" value="{{gender}}" required />
        </label>
        <label class="userHeight"> Height:
            <input type="number" name="height" value="{{height}}" required />CM
        </label>
        <label class="userWeight"> Weight:
            <input type="number" name="weight" value="{{weight}}" required />KG
        </label>
        <div>
            <form action="/user-profile/bmi-calculator" method="post">
                <button>Calculate</button>
                <h2 class="bmiValue">Total: <span>{{bmiResult2}}</span></h2>
            </form>
        </div>
    </div>
    <div class="progress-stacked" style="width: 50%">
        <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="45" aria-valuemin="0"
            aria-valuemax="100" style="width: 45%">
            <div class="progress-bar">18</div>
        </div>
        <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="63" aria-valuemin="0"
            aria-valuemax="100" style="width: 17.5%">
            <div class="progress-bar bg-success">25</div>
        </div>
        <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="70" aria-valuemin="0"
            aria-valuemax="100" style="width: 7.5%">
            <div class="progress-bar bg-info">28</div>
        </div>
        <div class="progress " role="progressbar" aria-label="Segment four" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100" style="width: 5%">
            <div class="progress-bar bg-warning">30</div>
        </div>
        <div class="progress" role="progressbar" aria-label="Segment five" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100" style="width: 10%">
            <div class="progress-bar bg-danger">40</div>
        </div>

    </div>

</div>