<diV class="m-5 d-flex flex-column">
    <h4>Here is your profile details</h4>

    <div>
        Username: {{username}}
    </div>
    <div>
        Email : {{email}}
    </div>
    <div>
        Age : {{age}}
    </div>
    <div>
        Gender : {{gender}}
    </div>
    <div>
        Height : {{height}} CM
    </div>
    <div>
        Weight : {{weight}} KG
    </div>

    <button class="btn btn-outline-secondary col-2 lh-1 my-3"><a class="nav-link" href=" /user-profile/edit">Edit</a></button>
</diV>