<h1>Here is your profile details</h1>

<form action="/user-profile/edit" method="post">
    <label> Username
        <input type="text" name="username" value="{{username}}" />
    </label>
    <label> Email
        <input type="email" name="email" value="{{email}}" />
    </label>
    <label> Age
        <input type="number" name="age" value="{{age}}" />
    </label>  

    <label> Gender
         <select name="gender">            
            <option value="{{gender}}">Male</option>
            <option value="{{gender}}">Female</option>
        </select>       
    </label>


    <label> Height
        <input type="number" name="height" value="{{height}}" />CM
    </label>
    <label> Weight
        <input type="number" name="weight" value="{{weight}}" />KG
    </label>

    <button>submit</button>
</form>